article {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-size 1s ease-out;

  &:hover {
    background-size: 120%;
  }

  .content,
  a:active,
  a:link,
  a:visited {
    color: white;
    text-shadow: 0 0 10px #000;
  }
}

.content .subtitle {
  margin-bottom: 0.1em;
}
