<div class="tile is-parent">
  <article class="tile is-child notification ship-background" [style.background-image]="'url(http://imageserver.eveonline.com/Render/'+ killmail.victim.shipTypeID +'_512.png)'">
    <div class="content">
      <div class="columns">
        <div class="column">
          <p class="title">Shipname {{ killmail.victim.shipTypeID }}</p>
          <p class="subtitle">{{ killmail.victim | victimShortName }}</p>
        </div>
        <div class="column is-narrow">
          <p class="title has-text-right">{{ killmail.zkb.totalValue | shortnumber }} ISK</p>
          <p class="subtitle has-text-right">{{ killmail.attackers.length | shortnumber: true }} Involved</p>
        </div>
      </div>
      <div class="content">
        Final Blow: {{ (killmail.attackers | lasthit).characterName }}
        <br /> Top Damage: {{ (killmail.attackers | topdamage).characterName }} ({{ (killmail.attackers | topdamage).damageDone | shortnumber }} Dmg)
        <br /> SolarSystem ({{ killmail.solarSystemID }}) / Region
        <br /> {{ killmail.killTime }}
        <br />
        <a target="_blank" [href]="'//zkillboard.com/kill/'+ killmail.killID +'/'">view on zKillboard</a>
      </div>
    </div>
  </article>
</div>
