<section class="hero is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">EVE Kill Showoff</h1>
      <h2 class="subtitle">Just some kills you might wanna see</h2>
    </div>
  </div>
</section>
<app-kill-list></app-kill-list>
<footer class="footer">
  <div class="container has-text-centered">
    <p>
      <a href="//github.com/EdJoPaTo/eve-kill-showoff" target="_blank">Github</a>
    </p>
    <p>
      this was made by <a href="//3t0.de" target="_blank">Edgar Toll</a>, the player behind <a href="//silfani.de" target="_blank">Rell Silfani</a>
    </p>
    <p>
      All EVE related materials are property of <a href="//ccpgames.com" target="_blank">CCP Games</a>
    </p>
  </div>
</footer>
