<router-outlet></router-outlet>
<footer class="footer">
  <div class="container has-text-centered">
    <p>
      This was made by <a href="//3t0.de" target="_blank">Edgar Toll</a>, the player behind <a href="//silfani.de" target="_blank">Rell Silfani</a>
    </p>
    <p>
      Get your own showoff from <a href="//github.com/EdJoPaTo/eve-kill-showoff" target="_blank">GitHub</a>
    </p>
    <p>
      All EVE related materials are property of <a href="//ccpgames.com" target="_blank">CCP Games</a>
    </p>
  </div>
</footer>
