<section class="hero is-medium" [class.is-large]="background && !logo" [style.background-image]="background" [class.background-is-dark]="background && backgroundIsDark">
  <div class="hero-body">
    <div class="container has-text-centered">
      <img *ngIf="logo" [src]="logo" alt="Logo" />
      <h1 class="title">{{ title }}</h1>
      <h2 class="subtitle">{{ subtitle }}</h2>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li [class.is-active]="isCurrentMonth()"><a (click)="goToCurrentMonth()">Current Month</a></li>
          <li *ngFor="let date of killmails | killmailDates: true" [class.is-active]="date.year === year && date.month === month">
            <a (click)="year = date.year; month = date.month; updateUrl()">{{ date.monthName }} {{ date.year }}</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<section class="section" *ngIf="errorMessage">
  <div class="container">
    <div class="notification is-danger">
      {{ errorMessage }}
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <progress class="progress level-item" [class.is-success]="!errorMessage" [class.is-danger]="errorMessage" [max]="totalIds" [value]="killmails.length" [class.fadeout]="totalIds === killmails.length"></progress>
      </div>
      <div class="level-right">
        <div class="tabs is-toggle">
          <ul>
            <li [class.is-active]="view === 'tiles'">
              <a (click)="view = 'tiles'; updateUrl()">Tiles</a>
            </li>
            <li [class.is-active]="view === 'list'">
              <a (click)="view ='list'; updateUrl()">List</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <app-killmail-view [killmails]="killmails | killFilter: year: month" [listview]="view === 'list'"></app-killmail-view>
  </div>
</section>
