<section class="hero is-medium" [class.is-large]="background && !logo" [style.background-image]="background" [class.background-is-dark]="background && backgroundIsDark">
  <div class="hero-body">
    <div class="container has-text-centered">
      <img *ngIf="logo" [src]="logo" alt="Logo" />
      <h1 class="title">{{ title }}</h1>
      <h2 class="subtitle">{{ subtitle }}</h2>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li [class.is-active]="isCurrentMonth()"><a (click)="goToCurrentMonth()">Current Month</a></li>
          <li *ngFor="let date of killmails | killmailDates: true" [class.is-active]="date.year === year && date.month === month">
            <a (click)="year = date.year; month = date.month; updateUrl()">{{ date.monthName }} {{ date.year }}</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<section class="section" *ngIf="errorMessage">
  <div class="container">
    <div class="notification is-danger">
      {{ errorMessage }}
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="control is-grouped">
      <p class="control is-expanded" [class.is-loading]="filterLoading">
        <input class="input" type="search" placeholder="filter…" #filterBox id="filter-box" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" (keyup)="filterSubject.next(filterBox.value)" />
      </p>
      <p class="control has-addons">
        <a class="button" [class.is-primary]="view === 'tiles'" (click)="view = 'tiles'; updateUrl()">Tiles</a>
        <a class="button" [class.is-primary]="view === 'list'" (click)="view = 'list'; updateUrl()">List</a>
      </p>
    </div>
    <progress class="progress" [class.is-success]="!errorMessage" [class.is-danger]="errorMessage" [max]="totalIds" [value]="killmails.length" [class.fadeout]="totalIds === killmails.length"></progress>
    <app-killmail-view [killmails]="killmails | killFilter: year: month: filter" [listview]="view === 'list'"></app-killmail-view>
  </div>
</section>
